table {
  width: 100%;
}

.container {
  height: calc(100vh - 56px);
  overflow: auto;
}

.detail-actions-container {
  text-align: center;

  button {
    margin: 8px 16px;
  }
}

.detail-row {
  height: 0;
}

.main-row {
  &:not(.expanded) {
    &:hover {
      background: #777;
    }
  }
  
  td {
    border-bottom-width: 0;
  }
}

.mat-footer-cell {
  text-align: right;
}

.overflow-hidden {
  overflow: hidden;
}