<div class="container">
  <table
    mat-table
    matSort
    multiTemplateDataRows
    [dataSource]="dataSource"
  >
    <ng-container matColumnDef="name">
      <th
        *matHeaderCellDef
        mat-header-cell
        mat-sort-header
      >
        Books
      </th>
      <td *matCellDef="let row" mat-cell matRipple>
        {{row.name}}
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <button mat-stroked-button (click)="clickAdd()">
          <mat-icon [inline]="true">
            add
          </mat-icon>
          Add Book
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let row" mat-cell>
        <div [@expandDetails]="expandedId === row.id" class="detail-container">
          <mat-divider></mat-divider>
          <div class="detail-actions-container">
            <button mat-stroked-button (click)="clickEdit(row)">
              <mat-icon [inline]="true">
                edit
              </mat-icon>
              Edit
            </button>
            <button
              mat-stroked-button
              color="warn"
              (click)="clickDelete(row)"
            >
              <mat-icon [inline]="true">
                delete
              </mat-icon>
              Delete
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="['name']" mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: ['name']"
      mat-row
      class="main-row"
      [class.expanded]="expandedId === row.id"
      (click)="clickRow(row.id)"
    ></tr>
    <tr
      *matRowDef="let row; columns: ['expandedDetail']"
      mat-row
      class="detail-row"
    ></tr>
    <tr *matFooterRowDef="['name']; sticky: true" mat-footer-row></tr>

  </table>
  
  <!-- <button mat-stroked-button (click)="clickAdd()">
    <mat-icon>
      add
    </mat-icon>
    Add Book
  </button> -->

  <!-- <button mat-stroked-button (click)="clickEdit(row)">
      <mat-icon>
        edit
      </mat-icon>
    </button>
    <button mat-stroked-button (click)="clickDelete(row)">
      <mat-icon>
        delete
      </mat-icon>
    </button> -->
</div>