table {
  width: 100%;
}

.container {
  max-width: 500px;
}

.detail-actions-container {
  text-align: center;

  button {
    margin: 8px 16px;
  }
}

.detail-container {
  overflow: hidden;
}

.detail-row {
  height: 0;
}

.main-row {
  &:not(.expanded) {
    &:active {
      background: #efefef;
    }

    &:hover {
      background: #777;
    }
  }
  
  td {
    border-bottom-width: 0;
  }
}

.mat-footer-cell {
  text-align: right;
}