.delete-button-div {
  height: '*';
  padding: 22px 12px;
  padding-top: 3px;
}

.delete-button-div button {
  height: 100%;
}

.flex-container {
  display: flex;
  margin: 12px 0;
}

.full-width-option-selection {
  flex: 1 1 auto;
}