.delete-button-wrapper {
  margin: .25em 1em;
  padding-bottom: 1.34375em;
}

.delete-button-wrapper button {
  height: 100%;
  min-height: 3.65em;
}

.flex-container {
  display: flex;
  overflow: hidden;
}

.full-width-option-selection {
  flex: 1 1 auto;
}

.mat-expansion-panel-header-description {
  align-items: center;
  flex-basis: 0;
  justify-content: space-between;
}

.mat-expansion-panel-header-title {
  flex-basis: 0;
}