<mat-card>
  <mat-card-title>
    {{title}}
  </mat-card-title>
  <mat-card-content>
    <div
      *ngFor="let item of data | async; index as i"
      class="flex-container"
      [@expand]="open ? 'open' : 'closed'"
    >
      <app-option-selection
        class="full-width-option-selection"
        [selectedOptions]=item
        [setOptionsList]=optionsList
        [unitLimit]=unitLimit
      >
      </app-option-selection>
      <div class="delete-button-div">
        <button
          mat-stroked-button
          color="warn"
          (click)="removeSelection(i)"
        >
          <mat-icon>
            delete_outline
          </mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="addSelection()">
      <mat-icon>
        add_circle_outline
      </mat-icon>
    </button>
    <button mat-stroked-button (click)="toggleOpen()">
      <mat-icon>
        all_out
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>