<mat-form-field
  appearance="outline"
  class="full-width"
>
  <mat-label>
    Weapon Selection
  </mat-label>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let option of data.options; index as i"
      [color]="option['enabled'] ? 'primary' : ''"
      [removable]="true"
      [selected]="option['enabled'] ? true : false"
      (click)="clickChip(i)"
      (removed)="removeChip(i)"
      (selectionChange)="chipSelectionChange($event, option['enabled'])"
    >
      {{getVariantNameWrapper(option.reference)}}
      <mat-icon matChipRemove>
        cancel
      </mat-icon>
    </mat-chip>
    <input
      #chipListInput
      placeholder="New Option"
      [formControl]="chipFormControl"
      [matAutocomplete]="chipListAuto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (blur)="blurInput()"
    >
  </mat-chip-list>
  <mat-autocomplete
    #chipListAuto="matAutocomplete"
    autoActiveFirstOption
    (closed)="clearInput()"
    (optionSelected)="optionSelected($event)"
  >
    <mat-option
      *ngFor="let option of filteredOptionsList | async"
      [value]="option['index']"
    >
      {{option.value}}
    </mat-option>
  </mat-autocomplete>
  <mat-hint>
    Enabled: {{getEnabledName()}}
  </mat-hint>
</mat-form-field>
<mat-slide-toggle color="primary">
  Limited Weapons
</mat-slide-toggle>