<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport
    class="sidenav"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list (click)="drawer.close()">
      <a
        mat-list-item
        routerLink="/home"
        routerLinkActive="active"
      >
        Home
      </a>
      <a
        mat-list-item
        routerLink="/test"
        routerLinkActive="active"
      >
        Test
      </a>
      <a
        mat-list-item
        routerLink="/edit/book"
        routerLinkActive="active"
      >
        Edit
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        type="button"
        (click)="drawer.toggle()"
      >
        <mat-icon>
          menu
        </mat-icon>
      </button>
      <span>
        tyranid-utility-angular
      </span>
      <span class="toolbar-spacing"></span>
      <span>
        Right Side
      </span>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
