
<mat-form-field
  appearance="outline"
  class="full-width-form-field"
>
  <mat-label>
    Selection
  </mat-label>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let option of selectedOptions | async; index as i"
      [color]="option['enabled'] ? 'primary' : ''"
      [selected]="option['enabled'] ? true : false"
      [removable]="true"
      (click)="clickChip(i)"
      (removed)="removeChip(i)"
      (selectionChange)="selectionChangeChip($event, option['enabled'])"
    >
      {{getVariantNameWrapper(option.reference)}}
      <mat-icon matChipRemove>
        cancel
      </mat-icon>
    </mat-chip>
    <input
      #chipListInput
      placeholder="New Option"
      [formControl]="chipFormControl"
      [matAutocomplete]="chipListAuto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    >
  </mat-chip-list>
  <mat-autocomplete
    #chipListAuto="matAutocomplete"
    autoActiveFirstOption
    (optionSelected)="optionSelected($event)"
    (closed)="clearInput()"
  >
    <mat-option
      *ngFor="let option of filteredOptions | async"
      [value]="option['index']"
    >
      {{option.value}}
    </mat-option>
  </mat-autocomplete>
  <mat-hint *ngIf="!unitLimit">
    Enabled: {{getEnabledName()}}
  </mat-hint>
</mat-form-field>
<mat-form-field 
  *ngIf="onePerModelCount"
  appearance="outline" 
  class="half-width-form-field-left"
>
  <mat-label>
    One selection per # model
  </mat-label>
  <input
    matInput
    min="1"
    type="number"
    value="1"
    [formControl]="numberInputFormControl"
  >
</mat-form-field>
<mat-form-field 
  *ngIf="optionReplaced"
  appearance="outline" 
  class="half-width-form-field-right"
>
  <mat-label>
    Selection replaces
  </mat-label>
  <input
    matInput
    min="1"
    type="number"
    value="1"
    required
  >
</mat-form-field>