<div class="container">
  <button mat-stroked-button (click)="clickToList()">
    <mat-icon [inline]="true">
      arrow_back
    </mat-icon>
    List
  </button>
  <h1>
    {{id ? 'Edit' : 'Add'}} Book
  </h1>
  <form [formGroup]="bookForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>
        Name
      </mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <button mat-stroked-button (click)="clickSave()">
      <mat-icon [inline]="true">
        save
      </mat-icon>
      Save
    </button>
  </form>
</div>